@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Active underline styling */
.underline-indicator {
  width: 50%;
  height: 1.5px;
  background-color: #374151;
  /* Tailwind's gray-700 */
  border: none;
  display: none;
}

.active .underline-indicator {
  display: block;
}